body {
    background:#e4dcdc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.auktion{
    display:grid;
    grid-template-rows: 1fr;
    padding: 1em;
    grid-column-gap: 2em;
    
}

.wrapper{
    display:grid;
    border: black 2px solid;
    padding: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;

}

img{
    
    height: 400px;
    width: 400px;
}

p{
    background:#c5cccc;
    color: #161322; 
    border: black 1px solid;
    padding: 1em;
}


h3{
    border: black 2px solid;
    background: #3c4444;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 16px;
    
}

h2{
    font-size: 20px;
}

#bidSection {
    background-color: #161322;;
    border: black 1px solid;
    color: rgb(168, 227, 238);
    padding: 1em;
    
}

#bidButton {
    padding: 10px 15px;
    color: black;
    border: black 1px solid;
    width: 100%;
    font-size: 15px;
}

#bidValue {
    height: 25px;
    width: 100%;
    border: black 2px solid;
}

#bidsList{
    background:#c5cccc;
    border: black 1px solid;
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 15px;
    font-size: 20px;
    color: black;
}

.bud{
    background: #e4dcdc;
    border: none;
}

