body {
    background:#f8f8f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
       
}

img:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

#search{
    display:grid;
    background: white;
    font-family: 'Futura', Arial, sans-serif;
    text-align: center;
    border: #333 2px solid;
    width: 13em;
   
    
}

#searchButton{
    display:grid;
    background: white;
    font-family: 'Futura', Arial, sans-serif;
    width: 149px;
    border: #333 2px solid;
}


#ikram{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 50px;
}

.innerContainer{
    background: #d6d6d6;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    border:black 2px solid;
    text-align: center;
    padding: 1em;
    grid-gap: 1em;
    cursor: pointer; 
}

p {
    background: #f8f8f8;
    color: #222527;
    border: black 1px solid;
    padding: 1em
    
    
    
}



h1{
    border: black 2px solid;
    background: #feb2dd;
    color: #222527;
    text-align: center;
    padding: 20px;
   
    
}

.searchBox{
    padding: 2px;
    padding-bottom: 2px;
}

#searchResult{
    padding: 10px;
}
